/*Variables*/
:root {
    /*Colors*/
    --font-color: #FFF;
    /*Font Sizes*/
    --desktop-big-size: 3.6rem;
    --counter-size: 5.6rem;
    --counter-text-size: 1.4rem;
    --tablet-big-size: 2.6rem;
    --tablet-counter-size: 3.6rem;
    --tablet-counter-text-size: 1.2rem;
    --mobile-big-size: 2rem;
    --mobile-counter-size: 3rem;
    --mobile-counter-text-size: 1rem;
}
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Comfortaa', cursive;;
}
body {
    width: 100vw;
    height: 100vh;
    background: url('../img/backgroung.png') #000 no-repeat center / cover;
    color: var(--font-color);
    text-align: center;
}
main {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}
main .content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 6rem;
    border-radius: 2rem;
    margin: 0 6rem;
}
.brand {
    display: flex;
    flex-direction: column;
}
.brand img {
    width: 50%;
    margin: 0 auto;
}
.brand h1 {
    font-size: var(--desktop-big-size);
    margin: 2rem 0;
}
.coming-soon h2 {
    font-size: var(--desktop-big-size);
    margin-bottom: 3rem;
}
.timer {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.timer .counter {
    font-size: var(--counter-size);
}
.timer .counter-text {
    font-size: var(--counter-text-size);
    padding-top: 1rem;
}

/*Media queries*/
@media (max-width: 990px) {
    .brand h1 {
        font-size: var(--tablet-big-size);
    }
    .coming-soon h2 {
        font-size: var(--tablet-big-size);
    }
    .timer .counter {
        font-size: var(--tablet-counter-size);
    }
    .timer .counter-text {
        font-size: var(--tablet-counter-text-size);
    }
}
@media (max-width: 600px) {
    .brand img {
        width: 80%;
    }
    main .content {
        padding: 4rem;
        border-radius: 2rem;
        margin: 0 4rem;
    }
    .brand h1 {
        font-size: var(--mobile-big-size);
    }
    .coming-soon h2 {
        font-size: var(--mobile-big-size);
    }
    .timer .counter {
        font-size: var(--mobile-counter-size);
    }
    .timer .counter-text {
        font-size: var(--mobile-counter-text-size);
    }
}